<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Matt\Documents\localdb.mdf;Integrated Security=True;Connect Timeout=30" />
  </connectionStrings>
</configuration>